* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  body {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #root {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 8px;
  }
  nav{
    width: 100%; 
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #438DB8;
    margin-top: 5px;

  }
  .top{
    width: 1440px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .left{
    width: 150px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px 0px;
  }
  .left>p{
    font-size: 14px;
    color: white;
}
  .right{
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 5px;
  }
  .top>h6{
    font-size: 18px;
    color: white;
  }
  .right>p{
    color: #fff;
    font-size: 10px;
  }
  .right>h5{
    color: #fff;
    font-size: 14px;
  }
  .bottom{
    max-width: 1520px;
    width: 1450px;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 10px;
} 
.bottom>h1{
    font-size: 36px;
    color:#438DB8;
}
.home>ul{   
    display: flex;
    align-items: center;
    gap: 38px;
    cursor: pointer;
}
.home>ul>li>a{
    font-size: 20px;
    color: #666666;
}
.button{
    width: 280px;
    height: 80px;
    display: flex;  
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}
.button>button{
    padding: 10px 8px;
    border-radius: 5px;
    color: #666666;
    border:1px solid #666666;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.8s ease;
  }
  .button>button:hover img{
    transition: all 0.5s ease;
    padding-top: 6px;
    padding: 2px;
    background-color: #fff;
  }
.button>button:hover{
    background-color: #438DB8;
    color: #fff;
    border: none;

}
.button>.shop{
    background-color: #438DB8;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
.con_img{
    max-width: 1440px;
    width: 100%;
    height: 600px;
    background-image: url(./img/slider.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .con_img>h1{
    margin-top: 50px;
    font-size: 51px;
    color: #fff;
  }
  .content{
    max-width: 1440px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
  .content_start{
    width: 290px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .content_start>h1{
    font-size: 34px;
    color: #438DB8;
  }
  .line{
    width: 50px;
    height: 4px;
    border-radius: 10px;
    background-color: #438DB8;
  }
  .content_start>p{
    font-size: 14px;
    color: #666666;
    text-align: start;
  }
   .bt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .bt>button:first-child{
    padding: 10px 55px;
    border-radius: 5px;
    color: #fff;
    border: none;
    background-color: #438DB8;
    font-size: 14px;
    cursor: pointer;
  }
  .bt>button:last-child{
    padding: 7.8px 30px 8.6px 28px;
    border:1px solid #438DB8;
    background-color: #438DB8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: end;
    position: absolute;
    left: 218px;
  }
 .input{
    position: relative;
    right: 30px;
  }
  .content_middle{
    width: 290px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .middle_img{
    width: 90%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 40px;
    margin-left: 16px;
  }
 
  .content_middle>p{
    font-size: 14px;
    color: #666666;
  }
  .content_middle1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content_middle1>p{
    font-size: 14px;
    color: #666666;
  }
  .content_middle>p{
    text-align: center;
    font-size: 18px;
    color: #666666;
  }
  .content_middle1{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;  
  }
  .content_middle1>h6{
    font-size: 18px;
    color: #666666;
  }
  .content_middle1>h6>span{
    font-size: 14px;
    color: #BEBCBD;
    text-decoration: line-through;
  }
  .middle{
    max-width: 1440px;
    width: 90%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .middle_top{
    width: 99%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;
  }
  .box{
    width: 410px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .box>p{
    width: 160px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #03000033 ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 0px 10px 0px;
  }
  .box>p>span{
    font-size: 14px;
    color: #fff;
  }
  .middle_bottom{
    width: 99%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .box1{
    width: 49%;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .box2{
    width: 250px;
    text-align: start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 20px;
    color: #fff;
    background-color: #03000033 ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .box2>p{
    font-size: 14px;
    color: #fff;
  }
  .box2>h6{
    font-size: 20px;
    color: #fff;
  }
  .box1>p{
    width: 160px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #03000033 ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 0px 10px 0px;
  }
  .box1>p>span{
    font-size: 14px;
    color: #fff;
  } 
  .content_img{
    width: 90%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .content_img>h1{
    font-size: 36px;
    color: #666666;
    margin-bottom: 10px;
  }
  .line{
    height: 4px;
    width: 60px;
    /* padding: 0px 50px; */
    border-radius: 10px;
    margin: 0 auto;
    color: #438DB8;
    background-color: #438DB8;
    margin-bottom: 20px;
  }
.product-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.product-card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.product-card>figure>img{
  width: 100%;
}

.product-card-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-card-info>h1{
  font-size: 16px;
    font-family: monospace;
}

.product-card-info>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card-info>div>p>span{
  text-decoration: line-through;
  color: #BEBCBD; 
}
.product-card-info>div>button{
  border: none;
  background-color: #438DB8;
  cursor: pointer;
  padding: 7px 8px;
  text-align: center;
  border-radius: 5px;
}
.product-card_imgs{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;  
}
.cart_imgs {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 20%;
  overflow: hidden;
  position: relative;
}

.cart_imgs > div {
  width: 300px;
  height: 100%;
  opacity: 0;
  background-color: #00000040;
  text-align: center;
  transition: all 0.8s ease;
  position: absolute;
  right: 220px;
}

.cart_imgs > div > h1 {
  padding-top: 100px;
  font-size: 36px;
  color: #fff;
}

.cart_imgs > div > p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

.cart_imgs > div > button {
  padding: 10px 55px;
  border-radius: 5px;
  color: #fff;
  border: none;
  background-color: #438DB8;
  font-size: 14px;
  cursor: pointer;
  border: #fff 1px solid;
}

.cart_imgs:hover > div {
  opacity: 1; 
}

.cart_imgs_text {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #a3a1a1;
  margin-bottom: 20px;
  padding: 15px;
}
.cart_imgs_text>.cart{
  display: flex;
  align-items: center;
  gap: 15px;
}
.cart_imgs_text>.cart>img{
  transition: all 0.3s ease;
}
.cart_imgs_text>.cart:hover img{
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.112);
  border-radius: 8px;
  padding: 8px;
}
.cart>span>h6{
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
}
.cart>span>p{
  font-size: 16px;
  color: #2b2b2b;
}
footer{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content:space-around ;
  align-items: center;
}
.footer_cart{
  width: 270px;
  height: 215px;
}

.footer_cart>h1{
  font-size: 30px;
  color: #0f0101;
  margin-bottom: 30px;
}
.footer_cart>h6{
  font-size: 18px;
  color: #160606;
  margin-bottom: 8px;
}
.footer_cart>p{
  font-size: 16px;
  color: #0f0101;
  margin-bottom: 10px;
}
.footer_cart>h5{
  font-size: 23px;
  margin-bottom: 20px;
}
.footer_cart>img{
  width: 30px;  
  margin: 2px;
  transition: all 0.3s ease;
}
.footer_cart:hover img{
  transform: scale(1.2);

}
.end{
  width: 100%;
  padding: 20px;
  background-color: #438db8;
  text-align: center;
  color: #fff;
  font-size: 14px;
}



